* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #000;
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url("scene.jpg");
  background-size: cover;
  background-position: center;
}

#bird {
  position: absolute;
  width: 60px;
  height: 45px;

  background-image: url("bird.png");
  background-size: contain;
  background-repeat: no-repeat;

  left: 120px;
  top: 300px;

  z-index: 10;
}

.pipe {
  position: absolute;
  width: 90px;

  border-radius: 45px;

  box-shadow:
    inset -10px -10px 20px rgba(0,0,0,0.2),
    inset 10px 10px 20px rgba(255,255,255,0.2);

  border: 3px solid rgba(255,255,255,0.4);
}

.coin {
  position: absolute;
  width: 35px;
  height: 35px;

  background-image: url("coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 5;
}

#score {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 40px;
  color: white;
  font-weight: bold;

  z-index: 100;
}

#startScreen,
#gameOver {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  z-index: 200;
}

#gameOver {
  display: none;
}

#startScreen h1,
#gameOver h1 {
  font-size: 48px;
  margin-bottom: 20px;
}


/* Detecta touch/mobile */
@media (pointer: coarse) {
  #mobileButton {
    display: block;
  }
}
